.main-project {
  max-width: 640px;
  margin: 0 auto;
  color: #fff;
}

.heading-project {
  margin-top: 50px;
  font-size: 28px;
  font-weight: 700;
  margin-left: 20px;
}

.project-card {
  max-width: 600px;
  background-color: #212121;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  padding: 15px;
  margin: 15px auto;
  transition: transform 0.15s;
}

.project-info {
  flex: 1;
}

.project-name {
  font-size: 20px;
}

.project-desc {
  font-size: 14px;
  color: #aaaaaa;
}
.tech-stack {
  margin-top: 10px;
}
.tech-stack-name {
  background-color: #323232;
  margin-right: 10px;
  margin-top: 5px;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 8px;
  color: #ddd;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.25);
}

.project-card:hover {
  background-color: #024bb2;
  .tech-stack-name {
    background-color: #2b59c3;
  }
}

@media screen and (max-width: 639px) {
  .main-project {
    max-width: 639px;
    margin: 10px;
    color: #fff;
  }
}

@media screen and (max-width: 360px) {
  .project-card {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    transition: transform 0.15s;
  }
  .project-name {
    margin-top: 10px;
  }
}
