.main-project {
  max-width: 640px;
  margin: 0 auto;
  color: #fff;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.project-card {
  border-radius: 10px;
  border: 1px solid #424242;
  background-color: #2222224d;
  backdrop-filter: blur(15px);
}

.cover {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-title > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.project-title > a > div {
  margin-right: 10px;
}

.project-name {
  font-size: 20px;
}

.project-desc {
  font-size: 14px;
  color: #aaaaaa;
  font-weight: 300;
}

.tech-stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5px;
}

.tech-stack-name {
  background-color: #303030;
  border-radius: 50px;
  padding: 5px 15px;
  margin-right: 8px;
  color: #fff;
  font-weight: 100;
  font-size: 14px;
  margin-top: 5px;
}

@media screen and (max-width: 639px) {
  .main-project {
    max-width: 639px;
    margin: 10px;
    color: #fff;
  }
  .project-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}

@media screen and (max-width: 360px) {
  .project-card {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    transition: transform 0.15s;
  }
  .project-name {
    margin-top: 10px;
  }
}
