.main-home {
  max-width: 640px;
  margin: 0 auto;
  color: #fff;
}

.hi {
  color: #aaaaaa;
}

.home-name {
  position: relative;
  animation: changeNameColor 10s infinite alternate;
}

@keyframes changeNameColor {
  0% {
    color: #fff;
  }
  25% {
    color: #47a8bd;
  }
  50% {
    color: #ffad69;
  }
  75% {
    color: #ee4266;
  }
  100% {
    color: #5dfdcb;
  }
}

.intro-main-home {
  font-size: 40px;
}

.location {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  font-size: 14px;
  color: #ababab;
}


.intro-sub-home {
  /* color: #aaaaaa; */
  font-size: 32px;
}

.intro-desc-home {
  color: #ddd;
  margin: 0 0 10px 0;
  font-weight: 400;
}

.btn-group {
  margin-top: 5px;
}

.social-btn {
  background-color: #212121;
  border-radius: 50px;
  border-width: 0;
  padding: 5px 15px;
  margin-right: 10px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.social-btn:hover {
  background-color: #efebce;
  cursor: pointer;
  color: #212121;
  .icon {
    fill: #212121;
  }
}

.btn-group {
  display: flex;
  flex-direction: row;
}

.icon {
  fill: #fff;
  height: 15px;
  width: 15px;
  padding: 5px;
  margin-right: 8px;
}

.timeline-card {
  display: flex;
  flex-direction: row;
  padding: 15px 25px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 1px 0 #ffffff4d;
}

.timeline-card:hover {
  box-shadow: 0 0 1px 0 #ffffff4d;
  background-color: #2222224d;
  backdrop-filter: blur(15px);
}

.dates,
.job-profile,
.company {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.dates-div {
  display: flex;
  flex-direction: row;
  flex: 2;
}

.dates {
  font-size: 14px;
  color: #ababab;
}

.work-data-div {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.job-profile {
  font-size: 20px;
}

.company {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.company > a {
  color: #ababab;
  text-decoration: none;
  font-style: italic;
  font-size: 14px;
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.stack-item {
  background-color: #303030;
  border-radius: 50px;
  padding: 5px 15px;
  margin-right: 8px;
  color: #fff;
  font-size: 12px;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 645px) {
  .main-home {
    max-width: 645px;
    margin: 0 10px;
    color: #fff;
  }
  .timeline-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 480px) {
  .intro-main-home {
    font-size: 30px;
  }

  .intro-sub-home {
    font-size: 36px;
  }

  .intro-desc-home {
    margin-top: 20px;
  }

  .btn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .social-btn {
    margin-top: 10px;
  }

  .intro-sub-home-child::before {
    content: "";
    position: absolute;
    top: 80px;
    height: 24px;
    width: 36px;
  }
}

@media screen and (max-width: 292px) {
  .intro-sub-home-child::before {
    content: "";
    position: absolute;
    top: 140px;
    height: 24px;
    width: 24px;
  }
}
