.main-home {
  max-width: 640px;
  margin: 0 auto;
  color: #fff;
}

.nav-link:hover {
  color: #ffb84c;
}

.hi {
  margin-top: 35px;
  color: #aaaaaa;
}

.home-name {
  position: relative;
  animation: changeNameColor 10s infinite alternate;
}

@keyframes changeNameColor {
  0% {
    color: #fff;
  }
  25% {
    color: #2b59c3;
  }
  50% {
    color: #ffb84c;
  }
  75% {
    color: #ac87c5;
  }
  100% {
    color: #9bcf53;
  }
}

.intro-main-home {
  font-size: 32px;
}

.intro-sub-home {
  color: #aaaaaa;
  font-size: 40px;
}

.intro-desc-home {
  color: #aaaaaa;
  margin: 0 0 10px 0;
}

.btn-group {
  margin-top: 5px;
}

.social-btn {
  background-color: #212121;
  border-radius: 50px;
  border-width: 0;
  padding: 5px 15px;
  margin-right: 10px;
  color: #fff;
  font-weight: 600;
}

.social-btn:hover {
  background-color: #2b59c3;
  cursor: pointer;
}

.btn-group {
  display: flex;
  flex-direction: row;
}

.icon {
  fill: #fff;
  height: 15px;
  width: 15px;
  padding: 5px;
  margin-right: 8px;
}

.dot {
  transform: translateX(-8px);
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background-color: #fff;
}

.timeline-card {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  border-left: 1px solid #aaa;
}
.timeline-data {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.timeline-title {
  color: #aaa;
  font-size: 20px;
}

.timeline-dates,
.timeline-desc {
  color: #aaa;
  font-size: 14px;
  font-style: italic;
}

.timeline-card:hover {
  border-left: 1px double #fff;
}

.timeline-card:hover > .timeline-data {
  backdrop-filter: blur(2px);
  background-color: #41414120;
  border-radius: 20px;
}

.timeline-card:hover > .timeline-data > .timeline-data-child > .timeline-desc,
.timeline-card:hover > .timeline-data > .timeline-data-child > .timeline-title,
.timeline-card:hover > .timeline-data > .timeline-dates {
  color: #fff;
}

.timeline-card:hover > .dot {
  background-color: #fff;
}

@media screen and (max-width: 645px) {
  .main-home {
    max-width: 480px;
    margin: 10px;
    color: #fff;
  }
}

@media screen and (max-width: 480px) {
  .hi {
    margin-top: 50px;
  }

  .intro-main-home {
    font-size: 30px;
  }

  .intro-sub-home {
    font-size: 36px;
  }

  .intro-desc-home {
    margin-top: 20px;
  }

  .btn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .social-btn {
    margin-top: 10px;
  }

  .timeline {
    margin-left: 5px;
  }

  .timeline-data {
    padding: 20px 10px;
  }

  .timeline-title {
    font-size: 16px;
  }

  .timeline-desc,
  .timeline-dates {
    font-size: 12px;
  }

  .intro-sub-home-child::before {
    content: "";
    position: absolute;
    top: 80px;
    height: 24px;
    width: 36px;
  }
}

@media screen and (max-width: 292px) {
  .intro-sub-home-child::before {
    content: "";
    position: absolute;
    top: 140px;
    height: 24px;
    width: 24px;
  }
}
