.icons {
  display: grid;
  grid-template-rows: repeat(0, 100px);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
}

.icons > :nth-child(3n + 1) {
  justify-self: start;
}

.icons > :nth-child(3n + 2) {
  justify-self: center;
}

.icons > :nth-child(3n + 3) {
  justify-self: end;
}

.tech-icon {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 1px 0 #ffffff4d;
  justify-content: center;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.tech-icon > p {
  margin-left: 10px;
}

.title {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 22px;
  margin: 25px 0 5px;
}

@media screen and (max-width: 639px) {
  .icons {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
    margin: 0 5px;
  }
  .title {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    margin: 5px;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 18px;
  }
  .item {
    font-size: 14px;
    margin-top: 10px;
  }
  .icons {
    grid-template-columns: repeat(2, 1fr);
  }
  .title {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    margin: 5px;
  }
  .tech-icon {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

@media screen and (max-width: 270px) {
  .icons {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    align-items: center;
    margin: 0 5px;
  }
}
