.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  max-width: 640px;
  margin: 25px auto;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  backdrop-filter: blur(100px);
  background-color: #30303080;
  border-radius: 200px;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 5px 20px;
  margin: 5px;
}

.nav-link-active {
  position: relative;
  text-decoration: none;
  color: #0b192c;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 5px 20px;
  margin: 5px;
  background-color: #f2e5bf;
  backdrop-filter: blur(45px);
  border-radius: 100px;
  transition: background-color 200ms ease-in-out;
}

.nav-link:hover {
  background-color: #f2e5bf50;
  backdrop-filter: blur(45px);
  border-radius: 100px;
  transition: background-color 200ms ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

@media screen and (max-width: 639px) {
  .nav {
    margin: 10px auto;
  }
}

@media screen and (max-width: 480px) {
  .nav {
    display: flex;
    align-items: center;
  }
  .nav-link {
    font-size: small;
    padding: 5px 10px;
  }
  .nav-link-active {
    font-size: small;
    padding: 5px 10px;
  }
}
