.heading-nav {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-size: 48px;
  margin-top: 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  animation: nav 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

@keyframes nav {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-left: 20px;
}

.nav-link:hover {
  color: #ffb84c;
}

@media screen and (max-width: 639px) {
  .nav {
    margin: 10px;
  }
}

@media screen and (max-width: 480px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
