.svg-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

@media screen and (max-width: 1000px) {
  .svg-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 150%;
    overflow: hidden;
    z-index: -1;
  }
}

@media screen and (max-width: 639px) {
  .svg-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 200%;
    overflow: hidden;
    z-index: -1;
  }
}

@media screen and (max-width: 480px) {
  .svg-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300%;
    overflow: hidden;
    z-index: -1;
  }
}

.svg-container svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.path-0 {
  animation: pathAnim-0 4s linear infinite;
}

.path-1 {
  animation: pathAnim-1 4s linear infinite;
}

.path-2 {
  animation: pathAnim-2 4s linear infinite;
}

@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,700 L 0,131 C 60.12869651005056,152.7674682451597 120.25739302010112,174.53493649031938 179,171 C 237.74260697989888,167.46506350968062 295.09912442964605,138.62772228388206 335,125 C 374.90087557035395,111.37227771611792 397.3461092613147,112.95417437415219 455,121 C 512.6538907386853,129.0458256258478 605.5164385250956,143.55558021950918 667,143 C 728.4835614749044,142.44441978049082 758.588136638303,126.82350474781109 796,132 C 833.411863361697,137.17649525218891 878.131014921692,163.1504007892465 943,173 C 1007.868985078308,182.8495992107535 1092.8878036749288,176.57489209520287 1145,163 C 1197.1121963250712,149.42510790479713 1216.3177703785918,128.55003082994205 1260,122 C 1303.6822296214082,115.44996917005795 1371.841114810704,123.22498458502898 1440,131 L 1440,700 L 0,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 L 0,131 C 68.18946849179922,108.72248119373535 136.37893698359844,86.44496238747071 186,71 C 235.62106301640156,55.55503761252929 266.6737205574054,46.94263164385249 314,66 C 361.3262794425946,85.0573683561475 424.92618078678015,131.78451103711927 488,158 C 551.0738192132198,184.21548896288073 613.6215562954742,189.91932420767048 666,181 C 718.3784437045258,172.08067579232952 760.5875940313233,148.5381921321988 802,146 C 843.4124059686767,143.4618078678012 884.0280675792328,161.92790726353434 938,161 C 991.9719324207672,160.07209273646566 1059.300135651745,139.75017881366384 1112,120 C 1164.699864348255,100.24982118633616 1202.7713898137872,81.07137748181033 1255,83 C 1307.2286101862128,84.92862251818967 1373.6143050931064,107.96431125909484 1440,131 L 1440,700 L 0,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 L 0,131 C 58.614823036132705,152.10834874830437 117.22964607226541,173.2166974966087 177,191 C 236.7703539277346,208.7833025033913 297.6962387470711,223.24155876186953 344,190 C 390.3037612529289,156.75844123813047 421.98539893944996,75.81706745591318 471,66 C 520.01460106055,56.182932544086825 586.3621654951288,117.49017141447774 635,154 C 683.6378345048712,190.50982858552226 714.5659390800346,202.22224688617587 771,195 C 827.4340609199654,187.77775311382413 909.3740781847332,161.62084104081885 967,141 C 1024.6259218152668,120.37915895918115 1057.9377481810336,105.29438895054878 1104,110 C 1150.0622518189664,114.70561104945122 1208.874929091133,139.20160315698607 1267,146 C 1325.125070908867,152.79839684301393 1382.5625354544336,141.89919842150698 1440,131 L 1440,700 L 0,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 L 0,131 C 39.655888518929586,133.0378838327784 79.31177703785917,135.0757676655568 131,138 C 182.68822296214083,140.9242323344432 246.4087803674929,144.73481317055123 305,156 C 363.5912196325071,167.26518682944877 417.05310149216916,185.98497965223828 470,162 C 522.9468985078308,138.01502034776172 575.3788136638302,71.32526822049573 639,66 C 702.6211863361698,60.67473177950427 777.4316438525096,116.7139474657788 826,140 C 874.5683561474904,163.2860525342212 896.8946109261312,153.81894191638918 947,144 C 997.1053890738688,134.18105808361082 1074.9899124429646,124.01028486866446 1139,130 C 1203.0100875570354,135.98971513133554 1253.14573930201,158.139918608953 1301,161 C 1348.85426069799,163.860081391047 1394.427130348995,147.4300406955235 1440,131 L 1440,700 L 0,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 L 0,131 C 60.12869651005056,152.7674682451597 120.25739302010112,174.53493649031938 179,171 C 237.74260697989888,167.46506350968062 295.09912442964605,138.62772228388206 335,125 C 374.90087557035395,111.37227771611792 397.3461092613147,112.95417437415219 455,121 C 512.6538907386853,129.0458256258478 605.5164385250956,143.55558021950918 667,143 C 728.4835614749044,142.44441978049082 758.588136638303,126.82350474781109 796,132 C 833.411863361697,137.17649525218891 878.131014921692,163.1504007892465 943,173 C 1007.868985078308,182.8495992107535 1092.8878036749288,176.57489209520287 1145,163 C 1197.1121963250712,149.42510790479713 1216.3177703785918,128.55003082994205 1260,122 C 1303.6822296214082,115.44996917005795 1371.841114810704,123.22498458502898 1440,131 L 1440,700 L 0,700 Z"
    );
  }
}

@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,700 L 0,306 C 50.776815883586124,288.2114194105315 101.55363176717225,270.422838821063 156,267 C 210.44636823282775,263.577161178937 268.5622888148971,274.5200641262794 316,268 C 363.4377111851029,261.4799358737206 400.1972129732395,237.4969046738192 460,260 C 519.8027870267605,282.5030953261808 602.6488592921446,351.4923171784437 655,345 C 707.3511407078554,338.5076828215563 729.2073498581823,256.53382661240596 777,245 C 824.7926501418177,233.46617338759404 898.5217412751263,292.37237637193243 955,294 C 1011.4782587248737,295.62762362806757 1050.705685041312,239.97666789986437 1097,250 C 1143.294314958688,260.02333210013563 1196.655518559625,335.72095202861016 1255,356 C 1313.344481440375,376.27904797138984 1376.6722407201873,341.13952398569495 1440,306 L 1440,700 L 0,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 L 0,306 C 59.29071402145766,292.6042668639783 118.58142804291532,279.20853372795654 172,298 C 225.41857195708468,316.79146627204346 272.96500184979647,367.7701319521519 322,356 C 371.03499815020353,344.2298680478481 421.55856455789865,269.71093846343564 472,249 C 522.4414354421014,228.28906153656436 572.800739918609,261.38611419410535 627,265 C 681.199260081391,268.61388580589465 739.2384757676654,242.74460476014303 796,257 C 852.7615242323346,271.25539523985697 908.2453570107289,325.63546676532246 957,345 C 1005.7546429892711,364.36453323467754 1047.780096189419,348.71352817856706 1107,348 C 1166.219903810581,347.28647182143294 1242.6342582315947,361.5104205204094 1301,357 C 1359.3657417684053,352.4895794795906 1399.6828708842027,329.2447897397953 1440,306 L 1440,700 L 0,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 L 0,306 C 67.00974226168455,339.0693303736589 134.0194845233691,372.1386607473178 176,371 C 217.9805154766309,369.8613392526822 234.93180416820815,334.51468738438774 290,317 C 345.06819583179185,299.48531261561226 438.2532988037983,299.8025897151314 495,291 C 551.7467011962017,282.1974102848686 572.0550006165988,264.2749537550869 619,280 C 665.9449993834012,295.7250462449131 739.5266987298063,345.0975952645209 798,368 C 856.4733012701937,390.9024047354791 899.8382044641755,387.33466518682945 958,364 C 1016.1617955358245,340.66533481317055 1089.1204834134912,297.56374398816126 1143,290 C 1196.8795165865088,282.43625601183874 1231.6798618818596,310.4103588605254 1278,319 C 1324.3201381181404,327.5896411394746 1382.1600690590703,316.79482056973734 1440,306 L 1440,700 L 0,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 L 0,306 C 58.811937353557795,304.26656801085215 117.62387470711559,302.5331360217043 166,297 C 214.3761252928844,291.4668639782957 252.31643852509552,282.134023924035 306,274 C 359.6835614749045,265.865976075965 429.11037119250216,258.9307682821556 479,269 C 528.8896288074978,279.0692317178444 559.2420767048957,306.1429029473424 614,307 C 668.7579232951043,307.8570970526576 747.9213219879148,282.4976199284746 804,270 C 860.0786780120852,257.5023800715254 893.0726353434457,257.86661733875945 942,277 C 990.9273646565543,296.13338266124055 1055.788136638303,334.0359107164878 1108,332 C 1160.211863361697,329.9640892835122 1199.7748181033419,287.9897397952892 1253,277 C 1306.2251818966581,266.0102602047108 1373.112590948329,286.0051301023554 1440,306 L 1440,700 L 0,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 L 0,306 C 50.776815883586124,288.2114194105315 101.55363176717225,270.422838821063 156,267 C 210.44636823282775,263.577161178937 268.5622888148971,274.5200641262794 316,268 C 363.4377111851029,261.4799358737206 400.1972129732395,237.4969046738192 460,260 C 519.8027870267605,282.5030953261808 602.6488592921446,351.4923171784437 655,345 C 707.3511407078554,338.5076828215563 729.2073498581823,256.53382661240596 777,245 C 824.7926501418177,233.46617338759404 898.5217412751263,292.37237637193243 955,294 C 1011.4782587248737,295.62762362806757 1050.705685041312,239.97666789986437 1097,250 C 1143.294314958688,260.02333210013563 1196.655518559625,335.72095202861016 1255,356 C 1313.344481440375,376.27904797138984 1376.6722407201873,341.13952398569495 1440,306 L 1440,700 L 0,700 Z"
    );
  }
}

@keyframes pathAnim-2 {
  0% {
    d: path(
      "M 0,700 L 0,481 C 56.367098285855235,468.60932297447283 112.73419657171047,456.21864594894566 169,475 C 225.26580342828953,493.78135405105434 281.4303119990134,543.7347391786903 330,531 C 378.5696880009866,518.2652608213097 419.5445554322359,442.84239733629306 463,421 C 506.4554445677641,399.15760266370694 552.3914662720433,430.8956714761376 614,466 C 675.6085337279567,501.1043285238624 752.8895794795907,539.5749167591565 813,531 C 873.1104205204093,522.4250832408435 916.0502158095943,466.8046614872364 969,455 C 1021.9497841904057,443.1953385127636 1084.909557282032,475.2064372918979 1139,492 C 1193.090442717968,508.7935627081021 1238.3115550622765,510.3695893451721 1287,506 C 1335.6884449377235,501.6304106548279 1387.8442224688617,491.315205327414 1440,481 L 1440,700 L 0,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 L 0,481 C 39.446195585152296,464.0088543593538 78.89239117030459,447.01770871870764 136,446 C 193.1076088296954,444.98229128129236 267.8766309039339,459.9380194845233 324,466 C 380.1233690960661,472.0619805154767 417.6010852139599,469.23021334319895 475,469 C 532.3989147860401,468.76978665680105 609.7190282402269,471.141127142681 662,485 C 714.2809717597731,498.858872857319 741.5228018251325,524.2052780860772 782,536 C 822.4771981748675,547.7947219139228 876.1897644592428,546.0377605130102 937,541 C 997.8102355407572,535.9622394869898 1065.718140337896,527.6436798618819 1126,517 C 1186.281859662104,506.3563201381181 1238.9376741891724,493.3875200394623 1290,487 C 1341.0623258108276,480.6124799605377 1390.5311629054138,480.80623998026886 1440,481 L 1440,700 L 0,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 L 0,481 C 66.24964853866075,507.31254162042177 132.4992970773215,533.6250832408435 187,533 C 241.5007029226785,532.3749167591565 284.2524602293748,504.8122086570477 327,486 C 369.7475397706252,467.1877913429523 412.49086200517945,457.1260821309656 473,474 C 533.5091379948205,490.8739178690344 611.7840917499076,534.6834628190899 662,520 C 712.2159082500924,505.31653718091013 734.3727709951905,432.1400665926748 783,437 C 831.6272290048095,441.8599334073252 906.7248242693304,524.7562708102108 974,527 C 1041.2751757306696,529.2437291897892 1100.727931927488,450.8348501664817 1146,423 C 1191.272068072512,395.1651498335183 1222.3634480207177,417.90432852386243 1269,436 C 1315.6365519792823,454.09567147613757 1377.8182759896413,467.5478357380688 1440,481 L 1440,700 L 0,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 L 0,481 C 62.75427302996671,468.96571710445187 125.50854605993342,456.93143420890374 175,463 C 224.49145394006658,469.06856579109626 260.72008879023304,493.23998026883703 319,493 C 377.27991120976696,492.76001973116297 457.6110987791343,468.108644715748 506,468 C 554.3889012208657,467.891355284252 570.8355160932298,492.32544086817114 615,487 C 659.1644839067702,481.67455913182886 731.0468368479467,446.5895918115674 789,431 C 846.9531631520533,415.4104081884326 890.9771365149832,419.3161918855592 944,446 C 997.0228634850168,472.6838081144408 1059.04461709212,522.1456406461956 1119,525 C 1178.95538290788,527.8543593538044 1236.844395116537,484.10124552965834 1290,469 C 1343.155604883463,453.89875447034166 1391.5778024417314,467.4493772351708 1440,481 L 1440,700 L 0,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 L 0,481 C 56.367098285855235,468.60932297447283 112.73419657171047,456.21864594894566 169,475 C 225.26580342828953,493.78135405105434 281.4303119990134,543.7347391786903 330,531 C 378.5696880009866,518.2652608213097 419.5445554322359,442.84239733629306 463,421 C 506.4554445677641,399.15760266370694 552.3914662720433,430.8956714761376 614,466 C 675.6085337279567,501.1043285238624 752.8895794795907,539.5749167591565 813,531 C 873.1104205204093,522.4250832408435 916.0502158095943,466.8046614872364 969,455 C 1021.9497841904057,443.1953385127636 1084.909557282032,475.2064372918979 1139,492 C 1193.090442717968,508.7935627081021 1238.3115550622765,510.3695893451721 1287,506 C 1335.6884449377235,501.6304106548279 1387.8442224688617,491.315205327414 1440,481 L 1440,700 L 0,700 Z"
    );
  }
}
