body {
  max-width: 640px;
  margin: 0 auto;
  background-color: #121212;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-image: url(../public/pattern-randomized.svg);
  background-size: cover;
}

p,
div,
h1,
h2,
h3 {
  margin: 0;
}
